<ion-card class="elevate-on-hover" [routerLink]="['/shopdetail']" style="height:100%;display: flex; justify-content: center; align-items: center;margin-bottom:5px">
  <ion-card-content style="display: flex; justify-content: center; align-items: center;">
    <img style="width: 60%" alt="Silhouette of mountains" [src]="imageSrc" />
  </ion-card-content>
  <ion-card-header class="ion-text-center">
      <ion-card-title>{{ text }}</ion-card-title>
    <ion-card-subtitle>Wholesaler Retailer</ion-card-subtitle>
  </ion-card-header>
</ion-card>

