<ion-row>
  <ion-col size="1">
    <ion-avatar>
      <img
        alt="Silhouette of a person's head"
        src="../../assets/images/marbel.PNG"
      />
    </ion-avatar>
  </ion-col>
  <ion-col size="7" style="margin-left: 25px">
    <ion-card-title>Marble Store</ion-card-title>
    <br />
    <button class="star-button"
            >Star Seller</button
          >
  </ion-col>
  <ion-col>
    <ion-icon name="chevron-forward" size="large"></ion-icon>
  </ion-col>
</ion-row>
<ion-row style="margin-top: 5px">
  <ion-col size="3">
    <ion-img
      src="https://5.imimg.com/data5/IY/YL/MY-2497612/leather-finish-surface-texture-basalt-stone-500x500-1000x1000.jpg"
      alt="Image 1"
    ></ion-img>
  </ion-col>
  <ion-col size="3">
    <ion-img
      src="https://5.imimg.com/data5/IY/YL/MY-2497612/leather-finish-surface-texture-basalt-stone-500x500-1000x1000.jpg"
      alt="Image 2"
    ></ion-img>
  </ion-col>
  <ion-col size="3">
    <ion-img
      src="https://5.imimg.com/data5/IY/YL/MY-2497612/leather-finish-surface-texture-basalt-stone-500x500-1000x1000.jpg"
      alt="Image 3"
    ></ion-img>
  </ion-col>
</ion-row>