<div class="col text-end" style="z-index: 1000;">
	
		
	<div ngbDropdown class="d-inline-block">
		<ion-button style="width:100%" id="dropdownBasic1" ngbDropdownToggle>
			<ion-icon name="person-circle-sharp" size="large"></ion-icon>
		  </ion-button> 
		<!-- <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
			Toggle dropdown
		</button> -->
		<div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="z-index: 1000;">
			<button ngbDropdownItem>Become Merchant</button>
			
		</div>
	</div>
</div>	

