<!-- <ion-grid style="background-color: #eef0f2;" class="shade">
  <ion-row>
    <ion-col size="1"> </ion-col>
    <ion-col size="3">
      <img src="../../assets/images/quarry.png" alt="Logo" width="80">
      <br />
      <br />
      <br />
      <p>weekday fit your wear with us</p>
      <p>Copyright 2022-2023. All right reserved.</p>
    </ion-col>
    <ion-col size="2">
      <h3>About</h3>
      <p>Project</p>
      <p>Track Record</p>
      <p>Pricing</p>
      <p>Worker</p>
    </ion-col>
    <ion-col size="2">
      <h3>Pricing</h3>
      <p>About Product</p>
      <p>Management</p>
    </ion-col>
    <ion-col size="2">
      <h3>Media</h3>
      <p>Privacy Policy</p>
      <p>Development</p>
      <p>Terms & Service</p>
    </ion-col>
    <ion-col size="2">
      <h3>Contact</h3>
      <p>(077) 123 333</p>
    </ion-col>
  </ion-row>
</ion-grid> -->
<ion-grid class="footer shade" >
  <ion-row>
    <ion-col size="12" size-md="3">
      <img src="../../assets/images/quarry.png" alt="Logo" width="80">
      <p>weekday fit your wear with us</p>
      <p>Copyright 2022-2023. All right reserved.</p>
    </ion-col>
    <ion-col size="6" size-md="2">
      <h3>About</h3>
      <p>Project</p>
      <p>Track Record</p>
      <p>Pricing</p>
      <p>Worker</p>
    </ion-col>
    <ion-col size="6" size-md="2">
      <h3>Pricing</h3>
      <p>About Product</p>
      <p>Management</p>
    </ion-col>
    <ion-col size="6" size-md="2">
      <h3>Media</h3>
      <p>Privacy Policy</p>
      <p>Development</p>
      <p>Terms & Service</p>
    </ion-col>
    <ion-col size="6" size-md="2">
      <h3>Contact</h3>
      <p>(077) 123 333</p>
    </ion-col>
  </ion-row>
</ion-grid>
